body {
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;    /* Centraliza na vertical */
  height: 100vh;          /* Faz o body ocupar toda a altura da tela */
  margin: 0;              /* Remove a margem padrão do body */
}


#card  {
    padding: 60px;
    background-color: aquamarine;
}

